body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #9dbbf4, #d0e3ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #2b4db2;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2b4db2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #19398d;
}

.mensagem {
    margin-top: 15px;
    text-align: center;
    color: #d40000;
}

.link-login {
    text-align: center;
    margin-top: 15px;
}

.link-login a {
    color: #2b4db2;
    text-decoration: none;
    font-weight: bold;
}

.link-login a:hover {
    text-decoration: underline;
}