body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #9dbbf4, #d0e3ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
}

th {
    background-color: #5c84dc;
    color: white;
}

.btn, a {
    background-color: #2c6ad6;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}

.btn:hover, a:hover {
    background-color: #1b4da5;
}

.success {
    color: green;
}

.erro {
    color: red;
}

.btn-voltar {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #5c84dc;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: #3b62b5;
}

.botoes-topo {
    text-align: center;
    margin-bottom: 20px;
}

.btn-perfil {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5c84dc;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-perfil:hover {
    background-color: #3b62b5;
}